@font-face {
  font-family: 'Anurati';
  src: local('Anurati'), url('/Anurati-Regular.otf') format('opentype');
}
.brand, .profile-name { font-family: 'Anurati', sans-serif; }
.brand a { color: hsl(0, 0%, 22%); }
.brand a:hover { color: hsl(0, 0%, 0%); }
.section { background: transparent; }

a { color: hsl(205, 69%, 49%); }
.title a:hover, .subtitle a:hover { border: none; }

pre { margin: 0 0 1em 0; }

p.categories { margin-top: 1rem; }
p.categories a:not(:last-child):after { content:' |'; }
p.summary { margin-top: 0.5rem; }

div#profile { text-align: center; }
img#profile-pic {
  display: block;
  height: 150px;
  margin: 0 auto 1em auto;
}

blockquote p { font-size: 1.5rem; }

.icon.keybase {
  background-image: url("/images/keybase2.webp");
  background-position: center;
  background-size: cover;
}

.icon.keybase:hover {
  background-image: url("/images/keybase2-hover.webp");
}

.content h2 {
  background-image: linear-gradient(hsla(205, 69%, 49%, 50%), hsl(205, 69%, 49%, 50%));
  background-size: 100% 6px;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.heading h1 a:hover {
  color: hsl(205, 69%, 49%);
}

.subtitle {
  letter-spacing: 0px;
}
