@font-face {
  font-family: 'Anurati';
  src: local('Anurati'), url('/Anurati-Regular.otf') format('opentype');
}
.brand, .profile-name { font-family: 'Anurati', sans-serif; }
.section { background: transparent; }

a { color: #268BD2; }
.title a:hover, .subtitle a:hover { border: none; }

pre { margin: 0 0 1em 0; }

p.categories a:not(:last-child):after { content:' |'; }

div#profile { text-align: center; }
img#profile-pic {
  display: block;
  height: 150px;
  margin: 0 auto 1em auto;
}
