<section class="section">
  <div class="card" style="border-radius: 10px;">
    <figure class="card-image is-4x3">
      <img src="goalie.webp" alt="" style="border-top-right-radius:10px; border-top-left-radius:10px;" />
    </figure>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="chris.webp" alt="Image" />
          </figure>
        </div>
        <div class="media-content">
          <p class="profile-name title is-5">Christopher R Marshall</p>
          <p class="profile-name subtitle is-6">
            <a href="https://twitter.com/codegoalie">@codegoalie</a>
          </p>
        </div>
      </div>

      <div class="content">
        Husband &amp; Dad</br></br>
        Programmer</br></br>
        Technical Leader</br></br>
        Ice Hockey Goalie</br></br>
        Racecar Driver (Virtually)
      </div>
    </div>
  </div>
</section>
