<div class="navbar-right">
  <p class="navbar-item"><a href="https://github.com/chrismar035">
    <span class="icon is-medium"><i class="fa fa-github-square"></i></span>
  </a></p>
  <p class="navbar-item"><a href="https://twitter.com/codegoalie">
    <span class="icon is-medium"><i class="fa fa-twitter-square"></i></span>
  </a></p>
  <p class="navbar-item"><a href="https://www.google.com/+ChrisMarshall035">
    <span class="icon is-medium"><i class="fa fa-google-plus-square"></i></span>
  </a></p>
</div>
