<section class="section">
<div class="card">
  <figure class="card-image is-4x3">
    <img src="goalie.png" alt="">
  </figure>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img src="chris.png" alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <p class="profile-name title is-5">Christopher R Marshall</p>
        <p class="profile-name subtitle is-6">
          <a href="https://twitter.com/codegoalie">@codegoalie</a>
        </p>
      </div>
    </div>

    <div class="content">
      Enjoys programming web applications; especially in Ruby and Go. Also
      enjoys playing ice hockey as a goalie and playing the guitar.
    </div>
  </div>
</div>
</section>
